.card-1 {
  background-image: url("./card-1.jpg");
}
.card-2 {
  background-image: url("./card-2.jpg");
}
.card-3 {
  background-image: url("./card-3.jpg");
}
.card-4 {
  background-image: url("./card-4.jpg");
}
.card-5 {
  background-image: url("./card-5.jpg");
}
.card-6 {
  background-image: url("./card-6.jpg");
}
.service-card {
  display: grid;
  object-fit: absolute;
  background-size: 100% 100%;
  transition: 0.5s all;
  border-radius: 15px;
}
.service-card:hover {
  opacity: 0.965;

  transform: scale(1.1);
}
