#cat {
  margin-top: -50px;
  padding: 30px;
  text-align: center;
  color: rgb(24, 23, 22);
}
#cat:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.more {
  padding-top: 10 px;
  border-bottom: 1px solid rgb(80, 69, 69);
}
@media screen and (max-width: 768px) {
  #cat {
    margin-top: -10px;
    padding: 30px;
    text-align: center;
    color: rgb(24, 23, 22);
  }
}
