#cat {
  margin-top: -60px;
  padding: 30px;
  text-align: center;
  color: rgb(24, 23, 22);
  font-size: large;
  text-decoration: underline;
}
#cat:hover {
  cursor: pointer;
}
.more {
  margin-top: 0 px;
}
@media screen and (max-width: 768px) {
  #cat {
    margin-top: -30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(24, 23, 22);
    font-size: large;
  }
  #cat:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
