.member-heading {
  margin: 45px 0px 20px 50px;
  font-size: 30px;
  font-weight: 500;
}
.member-heading-0 {
  margin: 35px 0px 20px 50px;
  font-size: 20px;
  font-weight: 400;
}
.member-heading-1 {
  height: auto;
}
.member-heading-2 {
  margin: 50px 40px 50px 40px;
}
