.all-cards {
 
  height: 100rem;
}
.all-cat-cards {
  
  height: 90vh;
  display: flex;
  justify-content: center;
}
.texthere {
  font-size: xx-large;
  color: black;
  align-self: center;
}
.all-cat-title{
  background-color:  rgb(247, 243, 243);
}
