.all-cards-container {
  height: auto;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(247, 243, 243);
}
@media screen and (max-width: 768px) {
  .all-cards-container {
    height: auto;
    padding: 20px;
  }
}
