.sppayment-container {
  margin: 10px 0px 0px 50px;
  font-size: 45px;
  font-weight: 700;
}
.sppayment-li-container {
  display: flex;
  border-bottom: solid 2px rgb(219, 219, 219);
}
.sppayment-li {
  padding: 30px;
  margin: 10px 0px 0px 25px;
}
.sppayment-li:hover {
  font-weight: bold;
  border-bottom: 2px solid #000;
}
.sppayment-btn {
  width: 95px;
  height: 30px;
  padding: 2px;
  margin: 20px 0px 0px 40px;
  font-size: small;
}

.sppayment-container-2 {
  margin: 10px 0px 0px 40px;
  width: 70%;
}
