* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 0;
  font-family: "font-family: " Montserrat ", sans-serif;";
  -ms-overflow-style: none;
}
@media screen and (max-width: 667px) {
  * {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}
