.Banner-item {
  background-image: url("./Banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: slide 10s infinite;
  width: 100vw;
  height: 100vh;
}
@keyframes slide {
  0% {
    background-image: url("./Banner.jpg");
  }
  25% {
    background-image: url("./Banner1.jpg");
  }
  50% {
    background-image: url("./Banner2.jpg");
  }
  75% {
    background-image: url("./Banner3.jpg");
  }
  100% {
    background-image: url("./Banner4.jpg");
  }
}

@media screen and (max-width: 700px) {
  .Banner-item {
    background-color: rgb(41, 146, 111);
    border: 2px solid;
    display: block;
    justify-content: center;
  }
}
